<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<!--/*/ <th:block th:include="fragments/header.html :: header">
        </th:block> /*/-->
</head>
<body>
	<div class="container">
	
		<!--/*/ <th:block th:include="fragments/header.html :: navbar">
        </th:block> /*/-->
		<!--/*@thymesVar id="roles" type="in.vnl.springproperties.entity.pojo.RolePojo"*/-->

		<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 text-center">
			<form th:object="${user}" th:action="@{/user/create}" method="post">
				<input type="hidden" th:field="*{id}" />

				<div class="panel panel-primary">
					<div class="panel-heading">User Creation</div>
					<div class="panel-body">
						<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
							<div class="row mt-2">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<label>First Name</label>
								</div>
								<div class="col-md-8 col-sm-12 col-lg-8 col-xs-12">
									<input type="text" class="form-control" th:field="*{firstName}" />
								</div>
							</div>
							<div class="row mt-2 ">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<label>Last Name</label>
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<input type="text" class="form-control" th:field=*{lastName} />
								</div>

							</div>
							<div class="row mt-2">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<label>Email</label>
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<input type="text" class="form-control" th:field=*{email} />
								</div>

							</div>
							<div class="row mt-2">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<label>Username</label>
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<input type="text" class="form-control" th:field=*{username} />
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<label>Password</label>
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<input type="text" class="form-control" th:field=*{password} />
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<label>Confirm Password</label>
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<input type="text" class="form-control"
										th:field=*{confirmPassword} />
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<label>Active</label>
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<select class="form-control" name="active">
										<option value="0">No</option>
										<option value="1">Yes</option>
									</select>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<label>Roles</label>
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<select class="form-control" th:field="*{roles}"
										multiple="multiple" id="roles">
										<option th:each="role : ${roles}" th:value="${role.id}"
											th:text="${role.role}"></option>
									</select>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-8 col-xs-offset-6 col-sm-offset-8 col-lg-offset-8">
									<button type="submit" class="btn btn-primary">Create</button>
								</div>
							</div>

						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#roles').select2({
				placeholder : "Select Roles",
				allowClear : true
			});
		});
	</script>
	
	
</body>
</html>