<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Vnl User Creation Panel</title>

   <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
            <script 
            th:src="@{/webjars/select2/4.0.5/js/select2.min.js}"></script>
            <link th:href="@{/webjars/select2/4.0.5/css/select2.min.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    
<!--/*@thymesVar id="roles" type="in.vnl.springproperties.entity.pojo.RolePojo"*/-->
    <h2>User Details</h2>
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/user/create}" method="post">
            <input type="hidden" th:field="*{id}"/>
            
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{lastName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{email}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Mobile </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{mobile}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Username </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{username}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password </label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{password}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Confirm Password </label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{confirmPassword}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Active </label>
                <div class="col-sm-10">
                    <select class="form-control" name="active">
                    	<option value="0">No</option>
                    	<option value="1">Yes</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Role </label>
                <div class="col-sm-10">
                    <select class="form-control"  th:field="*{roles}" multiple="multiple" id="roles">
                    	 <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
            	
                <button type="submit" class="btn btn-primary col-md-offset-4">Submit</button>
            </div>
        </form>
    </div>
</div>
<script>
		$(document).ready(function() {
			$('#roles').select2({
				placeholder : "Select Roles",
				allowClear : true
			});
		});
</script>
</body>
</html>